body {
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    min-height: 222px;
}

#container-top {
    height: calc(100% - 90px);
    display: flex;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

/* Utilities */
.circle {
    border-radius: 50%;
    overflow: hidden;
}

/* /Utilities */

/* Transizioni */
.scale:hover {
    scale: 1.075;
}

.scale {
    transition: scale linear .075s;
}

/* /Transizioni */