* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset dei pulsanti */
button {
    border: none;
    padding: 0;
    color: inherit;
    background: none;
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

/* /Reset dei pulsanti */