* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    padding: 0;
    color: inherit;
    background: none;
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
}

ul {
    list-style: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}